.conteiner1{
    height: 100px;
    padding: 50px;
    margin: 50px;
    width: 400px;

    box-sizing: border-box;
}
.conteiner2{
    height: 100px;
    width: 100px;

    background-color: coral;

    border: 50px;

    box-sizing: border-box;

}
